/Pattern.Repository.Core/.vs/Pattern.Repository.Core/DesignTimeBuild/.dtbcache.v2
/Pattern.Repository.Core/.vs/Pattern.Repository.Core/FileContentIndex/11e6f0ef-247f-424e-966e-628303937e8d.vsidx
/Pattern.Repository.Core/.vs/Pattern.Repository.Core/FileContentIndex/3c5bc5d3-2499-4f55-86df-7b507cc15a61.vsidx
/Pattern.Repository.Core/.vs/Pattern.Repository.Core/FileContentIndex/9e32af4e-c82a-429c-9375-e233a2cef770.vsidx
/Pattern.Repository.Core/.vs/Pattern.Repository.Core/FileContentIndex/a9e1f431-0d19-4ef9-be14-a01e92d2ec9a.vsidx
/Pattern.Repository.Core/.vs/Pattern.Repository.Core/FileContentIndex/e050e0de-a4e0-4aa9-b23c-c7a034fa68c8.vsidx
/Pattern.Repository.Core/.vs/Pattern.Repository.Core/v17/.futdcache.v2
/Pattern.Repository.Core/.vs/Pattern.Repository.Core/v17/.suo
/Pattern.Repository.Core/.vs/ProjectEvaluation/pattern.repository.core.metadata.v7.bin
/Pattern.Repository.Core/.vs/ProjectEvaluation/pattern.repository.core.projects.v7.bin
/Pattern.Repository.Core/Pattern.Repository.API/bin/Debug/net8.0/appsettings.Development.json
/Pattern.Repository.Core/Pattern.Repository.API/bin/Debug/net8.0/appsettings.json
/Pattern.Repository.Core/Pattern.Repository.API/bin/Debug/net8.0/Microsoft.OpenApi.dll
/Pattern.Repository.Core/Pattern.Repository.API/bin/Debug/net8.0/Pattern.Repository.API.deps.json
/Pattern.Repository.Core/Pattern.Repository.API/bin/Debug/net8.0/Pattern.Repository.API.dll
/Pattern.Repository.Core/Pattern.Repository.API/bin/Debug/net8.0/Pattern.Repository.API.exe
/Pattern.Repository.Core/Pattern.Repository.API/bin/Debug/net8.0/Pattern.Repository.API.pdb
/Pattern.Repository.Core/Pattern.Repository.API/bin/Debug/net8.0/Pattern.Repository.API.runtimeconfig.json
/Pattern.Repository.Core/Pattern.Repository.API/bin/Debug/net8.0/Pattern.Repository.Core.dll
/Pattern.Repository.Core/Pattern.Repository.API/bin/Debug/net8.0/Pattern.Repository.Core.pdb
/Pattern.Repository.Core/Pattern.Repository.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/Pattern.Repository.Core/Pattern.Repository.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Pattern.Repository.Core/Pattern.Repository.API/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/apphost.exe
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/Pattern.Repository.API.AssemblyInfo.cs
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/Pattern.Repository.API.AssemblyInfoInputs.cache
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/Pattern.Repository.API.assets.cache
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/Pattern.Repository.API.csproj.AssemblyReference.cache
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/Pattern.Repository.API.csproj.CopyComplete
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/Pattern.Repository.API.csproj.CoreCompileInputs.cache
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/Pattern.Repository.API.csproj.FileListAbsolute.txt
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/Pattern.Repository.API.dll
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/Pattern.Repository.API.GeneratedMSBuildEditorConfig.editorconfig
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/Pattern.Repository.API.genruntimeconfig.cache
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/Pattern.Repository.API.GlobalUsings.g.cs
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/Pattern.Repository.API.MvcApplicationPartsAssemblyInfo.cache
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/Pattern.Repository.API.MvcApplicationPartsAssemblyInfo.cs
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/Pattern.Repository.API.pdb
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/ref/Pattern.Repository.API.dll
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/refint/Pattern.Repository.API.dll
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/staticwebassets.build.json
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/staticwebassets/msbuild.build.Pattern.Repository.API.props
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Pattern.Repository.API.props
/Pattern.Repository.Core/Pattern.Repository.API/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Pattern.Repository.API.props
/Pattern.Repository.Core/Pattern.Repository.API/obj/Pattern.Repository.API.csproj.nuget.dgspec.json
/Pattern.Repository.Core/Pattern.Repository.API/obj/Pattern.Repository.API.csproj.nuget.g.props
/Pattern.Repository.Core/Pattern.Repository.API/obj/Pattern.Repository.API.csproj.nuget.g.targets
/Pattern.Repository.Core/Pattern.Repository.API/obj/project.assets.json
/Pattern.Repository.Core/Pattern.Repository.API/obj/project.nuget.cache
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Debug/net8.0/Pattern.Repository.Core.AssemblyInfo.cs
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Debug/net8.0/Pattern.Repository.Core.AssemblyInfoInputs.cache
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Debug/net8.0/Pattern.Repository.Core.assets.cache
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Debug/net8.0/Pattern.Repository.Core.csproj.AssemblyReference.cache
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Debug/net8.0/Pattern.Repository.Core.csproj.CoreCompileInputs.cache
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Debug/net8.0/Pattern.Repository.Core.csproj.FileListAbsolute.txt
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Debug/net8.0/Pattern.Repository.Core.dll
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Debug/net8.0/Pattern.Repository.Core.GeneratedMSBuildEditorConfig.editorconfig
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Debug/net8.0/Pattern.Repository.Core.GlobalUsings.g.cs
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Debug/net8.0/Pattern.Repository.Core.pdb
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Debug/net8.0/ref/Pattern.Repository.Core.dll
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Debug/net8.0/refint/Pattern.Repository.Core.dll
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Pattern.Repository.Core.csproj.nuget.dgspec.json
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Pattern.Repository.Core.csproj.nuget.g.props
/Pattern.Repository.Core/Pattern.Repository.Core/obj/Pattern.Repository.Core.csproj.nuget.g.targets
/Pattern.Repository.Core/Pattern.Repository.Core/obj/project.assets.json
/Pattern.Repository.Core/Pattern.Repository.Core/obj/project.nuget.cache
/Pattern.Repository.Core/Pattern.Repository.Core/bin/Debug/net8.0/Pattern.Repository.Core.deps.json
/Pattern.Repository.Core/Pattern.Repository.Core/bin/Debug/net8.0/Pattern.Repository.Core.dll
/Pattern.Repository.Core/Pattern.Repository.Core/bin/Debug/net8.0/Pattern.Repository.Core.pdb
